html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #101630;
    width: 100%;
    overflow-x: hidden;
}
header{
    height: 100px;
    margin: 20px 60px;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-family: "Roboto condensed serif", 'sanserif';
    font-size: 20px;
    color: #519ad1;
}

.logo h1{
    position: relative;
}
.logo span{
    font-size: 20px;
}
nav{
    display: flex;
    gap: 10rem;
    
}

ul{
    display: flex;
    gap: 50px;
    text-transform: uppercase;
    font-size: 16px; 
    margin-top: 13px;
    font-family: "montserrat", "san-serif";
    color: rgb(167, 165, 165);
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(167, 165, 165);
}

li{
    list-style: none;
}
a:hover{
    color: #519ad1;
}
#menu-icon{
    visibility: hidden;
    color: rgb(167, 165, 165);
    font-size: 35px;
    position: relative;
    top: 5px;
    left: 20rem;
}

 #close-icon{
    visibility: hidden;
    color: rgb(167, 165, 165);
    font-size: 35px;

 }
.contact{
    height: 40px;
    width: 130px;
    position: relative;
    bottom: 0.8rem;
    left: 1rem;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
}
/* section Title */
.title {
    margin: 30px 60px;
    font-family: "Montserrat", "san-serif";  
}
.title h4{
    color: #939394;
    font-size: 20px;
}
.title h1{
    text-transform: uppercase;
    margin: 15px 25px;
    font-size: 40px;
    line-height: 30px;
    color: #fff;
}
.dot{
    height: 6px;
    width: 6px;
    position: relative;
    left: 17.8rem;
    bottom:1.3rem;
    background:#519ad1 ;
}
.title button{
    height: 45px;
    width: 180px;
    position: relative;
    top: 0.1rem;
    left: 1rem;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    color:  rgb(167, 165, 165);
    
}
/* about me */
.about{
    margin: 200px 80px;
    display: flex;
    flex-direction: row;
    width: 80%;
}
.picture{
    display: flex;
}
.border-picture{
    height: 450px;
    width: 370px;
    border: 6px solid #519ad1;
    position: relative;
    left: 3rem;
    
}
.about img{
    height: 450px;
    width: 360px;
    position: relative;
    bottom: 20px;
    right: 21rem;
}
.about-text{
    font-family: "Roboto condensed serif", "san-serif";
    position: relative;
    top: 3rem;
    right: 13rem;

}
.about-text h2{
    position: relative;
    bottom: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
}
.about-text p{
    width: 150%;
    font-size: 19px;
    line-height: 26px;
    color: #939394;

}

.about button{
    height: 45px;
    width: 180px;
    position: relative;
    top: 2rem;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    color:  rgb(167, 165, 165);
    
}
.about span{
    font-weight: 800;
}

/* Project section */

.projects {
    position: relative;
    top: 2rem;
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
    padding: 0 5%;
}

.projects h1 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

.each-projects {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    width: 100%;
    position: relative;
    top: 3rem;
}

.proj {
    display: flex;
    gap: 2rem;

}

.proj-text {
    /* flex: 1; */
    width: 45%;
    padding:2rem ;
    /* box-sizing: border-box; */
}


.proj h2 {
    text-transform: uppercase;
    color: #519ad1;
    font-size: 25px;
    margin-bottom: 1rem;
}

.proj h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

.proj p {
    font-size: 16px;
    line-height: 22px;
    color: #939394;
    margin-bottom: 2rem;
}

.proj-picture {
    /* display: flex; */
   position: relative;
   left: 3rem;
   width: 55%;
}

.projborder-picture {
    
        height: 450px;
        width: 450px;
        border: 6px solid #519ad1;
        position: relative;
        left: 3rem;
        
    
}

.proj-picture img {
    height: 450px;
    position: absolute;
    width: 450px;
    bottom: 30px;
    left: 1.5rem;
}
.proj button{
    height: 45px;
    width: 180px;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    color:  rgb(167, 165, 165);
    
}
.proj button a{
    text-decoration: none;
}

/* services */
.service{
    position: relative;
    top: 10rem;
    display: flex;
    flex-direction: column;
    left: 8rem;
    width: 80%;
    font-family: "Roboto condensed", "san-serif";
}
.service h1 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}
.service h2{
    width: 70%;
    color: #fff;
    position: relative;
    top: 0.5rem;
}
.service-pagelist{
    padding: 5px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    
}
.service-list{
    height: 350px;
    width: 400px;
    border: 3px solid; 
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom right, 
      #4ca8d4, #528bcd, #4c6ac1, #4b51c5, #463eba, #4431af);
      box-shadow: 2px 2px 5px rgba(151, 148, 148, 0.5);
      border-radius: 10px;
}

.service-title{
    display: flex;
    gap: 1rem;
    position: relative;
    left: 3rem;
    top: 1rem;
}
.icon-service{
    height: 35px;
    width: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50px;
    background: white;
}
.service-title i{
    font-size: 20px;
    color: #519ad1;  
}

.service-list p{
    position: relative;
    top: 2rem;
    font-size: 18px;
    padding: 2px;
    width: 90%;
    left: 1.5rem;
    line-height: 30px;
    color: #939394;
}

/* Experience */
.experience{
    position: relative;
    top: 23rem;
    width: 80%;
    left: 10rem;
    font-family: "Roboto condensed","sans-serif";
}
.experience h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 35px;
    position: relative;
    left: 20rem;
    bottom: 3rem;

}
.experience-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}
.expo-image{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.expo-image img{
    height: 40px;
    width: 40px;
}
.expo-image h2{
    color: #939394;
}
/* footer section */
footer{
 position: relative;
 top: 35rem;
  background: linear-gradient(to right, #4431af, #463eba, #4b51c5, #4c6ac1, #528bcd, #4ca8d4);
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
  padding: 20px; 
  width: 100%;
  height: 700px;
  
}
.con-text h1 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    left: 3rem;
}
.footer-info{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 50px;
}
.message-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.message-info1{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    position: relative;
    top: 3rem;
}
.messagetext{
    width: 50%; 
    font-family: "Roboto condensed" ,"san-serif";
}
.messagetext h2{
    color: #fff;
    margin-bottom: 10px;
    font-size: 25px;
}
.messagetext p{
    color: #939394;
    width: 90%;
    font-size: 16px;
    line-height: 19px;
}
.messagetext-icon{
    position: relative;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.text-icon{
    display: flex;
    gap: 2rem;
}
.text-icon i{
    width: 40px;
    height: 40px;
    background: linear-gradient(145deg, #4ca8d4, #463eba);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 15px;
}
.text-icon h4{
    color: #dfdada;
    margin-top: 10px;
} 

.message-input{
    /* width: 50%; */
    height: 400px;
    width: 400px;
    border-radius: 7px;
    position: relative;
    left: 7rem;
    background: linear-gradient(90deg, #4ca8d4, #4c6ac1, #4b51c5);
}
form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 5px;
}
.message-inputbox input{
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #101630;
    color: #fff;
}
.message-inputbox input::placeholder{
    padding: 10px;
}
textarea{
    height: 130px;
    background: #101630;
    border-radius: 5px;
    color: #fff;
}
textarea::placeholder{
    padding: 10px;
}
.message-input button{
    width: 130px;
    height: 40px;
    border-radius: 5px ;
    border: none;
    background: #101630;
    color: #fff;
}
.horizontal{
    position: relative;
    top: 3.5rem;
    width: 1040px;
    height: 2px;
    background: #939394;
}
.last{
    position: relative;
    top: 5rem; 
    display: flex;
    justify-content: space-between;
    font-family: "Roboto condensed", "san-serif";
}
.last h4{
    position: relative;
    top: 1rem;
    color: #dfdada;
}
.last span{
    color: #dfdada;
}
.social-icons{
    display: flex;
    gap: 2rem;
}
.social-icons i{
    width: 40px;
    height: 40px;
    background: linear-gradient(145deg, #4ca8d4, #463eba);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 15px;
}
/* media query */
@media (min-width:340px) and (max-width: 500px){
    header{
        height: 100px;
        margin: 20px 60px;
        display: flex;

    }
    .logo{
        font-family: "Roboto condensed serif", 'sanserif';
        font-size: 20px;
        color: #519ad1;
    }
    ul{
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 60px;
        left: 2rem;
        right: 0;
        background-color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 15px;
        width: 300px;
        height: 300px;
        z-index: 1;
    }
    
   
    #menu-icon{
        visibility: visible;
        color:  rgb(167, 165, 165);
        position: relative;
        top: 5px;
        left: 6rem;
    }
       
    #close-icon{
        visibility: hidden;
        
    }
    .contact{
        left: 70px;
        font-size: 12px;
        width: 130px;
        height: 35px;
    }
    /* section Title */
.title {
    margin: 30px 40px;  
}
.title h4{
    color: #939394;
    font-size: 20px;
}
.title h1{
    text-transform: uppercase;
    margin: 8px 25px;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
}
.dot{
    height: 6px;
    width: 6px;
    position: relative;
    left: 13.6rem;
    bottom:1.2rem;
    background:#519ad1 ;
}
.title button{
    height: 40px;
    width: 180px;
    position: relative;
    top: 0.1rem;
    left: 1rem;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
}
/* about me */
.about{
    margin: 200px 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.picture{
    display: flex;
    flex-direction: column;
}
.border-picture{
    height: 400px;
    width: 300px;
    border: 6px solid #519ad1;
    position: relative;
    left: -2.5rem;
    bottom: 2rem;
    
}
.about img{
    height: 400px;
    width: 300px;
    position: relative;
    bottom: 28rem;
    right: 4rem;
}
.about-text{
    font-family: "Roboto condensed serif", "san-serif";
    position: absolute;
    left: 2rem;
    top: 65rem;
    width: 100%;
}
.about-text h2{
    position: relative;
    bottom: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    left: 4rem;
}
.about-text p{
    width: 80%;
    font-size: 16px;
    line-height: 22px;
    color: #939394;
    position: relative;
    left: 1rem;

}

.about button{
    height: 45px;
    width: 180px;
    position: relative;
    top: 2rem;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    left: 3rem;
    
}

/* Project section */

.projects {
    position: relative;
    top: 2rem;
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
    padding: 0 5%;
}

.projects h1 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

.each-projects {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    width: 100%;
    position: relative;
    top: 3rem;
}

.proj {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.proj-text {
    /* flex: 1; */
    width: 100%;
    padding:2rem ;
    /* box-sizing: border-box; */
}


.proj h2 {
    text-transform: uppercase;
    color: #519ad1;
    font-size: 22px;
    margin-bottom: 1rem;
    position: relative;
    left: 4rem;
}

.proj h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.proj p {
    font-size: 13px;
    line-height: 20px;
    color: #939394;
    margin-bottom: 2rem;
}

.proj-picture {
    /* display: flex; */
   position: relative;
   left: -1.5rem;
   width: 100%;
}

.projborder-picture {
    
        height: 350px;
        width: 300px;
        border: 6px solid #519ad1;
        position: relative;
        left: 3rem;
        
    
}

.proj-picture img {
    height: 350px;
    position: absolute;
    width: 300px;
    bottom: 30px;
    left: 1.5rem;
}
.proj button{
    height: 40px;
    width: 150px;
    position: relative;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    color:  rgb(167, 165, 165);
    
}
/* services */
.service{
    position: relative;
    top: 10rem;
    display: flex;
    flex-direction: column;
    left: -1rem;
    width: 80%;
    font-family: "Roboto condensed serif", "san-serif";
}
.service h1 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    left: 3rem;
}
.service h2{
    width: 100%;
    color: #fff;
    position: relative;
    top: 0.5rem;
    left: -1.5rem;
}
.service-pagelist{
    padding: 5px 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
    
}
.service-list{
    height: 500px;
    width: 300px;
    border: 3px solid; 
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom right, 
      #4ca8d4, #528bcd, #4c6ac1, #4b51c5, #463eba, #4431af);
      box-shadow: 2px 2px 5px rgba(151, 148, 148, 0.5);
      border-radius: 10px;
}

.service-title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    left: 3rem;
    top: 1rem;
}
.icon-service{
    height: 35px;
    width: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50px;
    background: white;
    position: relative;
    left: 3rem;
}
.service-title i{
    font-size: 20px;
    color: #519ad1;  
}

.service-list p{
    position: relative;
    top: 2rem;
    font-size: 18px;
    padding: 2px;
    width: 90%;
    left: 1.5rem;
    line-height: 30px;
    color: #939394;
}
/* experience */

.experience{
    position: relative;
    top: 20rem;
    width: 80%;
    left: 3rem;
    font-family: "Roboto condensed";
}
.experience-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.experience h1{
    position: relative;
    left: 2rem;
    font-size: 30px;
}
.expo-image{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.expo-image img{
    height: 40px;
    width: 40px;
}
.expo-image h2{
    color: #939394;
}

}
@media (min-width:501px) and (max-width: 700px){
    header{
        height: 100px;
        margin: 20px 60px;
        display: flex;

    }
    .logo{
        font-family: "Roboto condensed serif", 'sanserif';
        font-size: 35px;
        color: #519ad1;
    }
    ul{
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 60px;
        left: 2rem;
        right: 0;
        background-color: white;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        z-index: 1;
        height: 350px;

    }
   
    #menu-icon{
        visibility: visible;
        color:  rgb(167, 165, 165);
        position: relative;
        top: 20px;
        left: 15rem;
        font-size: 50px;
    }
       
    #close-icon{
        visibility: hidden;
        position: relative;
        font-size: 50px;
    }
    .contact{
        left: 150px;
        font-size: 20px;
        width: 180px;
        height: 50px;
    }
    .title button{
        height: 45px;
        width: 180px;
        position: relative;
        top: 0.1rem;
        left: -1rem;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 5px;
        background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
        border: none;
        cursor: pointer; 
    }
    /* about me */
.about{
    margin: 200px 180px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.picture{
    display: flex;
    flex-direction: column;
}
.border-picture{
    height: 400px;
    width: 300px;
    border: 6px solid #519ad1;
    position: relative;
    left: -2.5rem;
    bottom: 2rem;
    
}
.about img{
    height: 400px;
    width: 300px;
    position: relative;
    bottom: 28rem;
    right: 4rem;
}
.about-text{
    font-family: "Roboto condensed serif", "san-serif";
    position: absolute;
    left: 5rem;
    top: 65rem;
    width: 100%;
}
.about-text h2{
    position: relative;
    bottom: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    left: 7rem;
}
.about-text p{
    width: 80%;
    font-size: 16px;
    line-height: 22px;
    color: #939394;
    position: relative;
    left: 0.2rem;

}

.about button{
    height: 45px;
    width: 180px;
    position: relative;
    top: 2rem;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    left: 7rem;
    
}
/* Project section */

.projects {
    position: relative;
    top: 2rem;
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
    padding: 0 5%;
}

.projects h1 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.each-projects {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    width: 100%;
    position: relative;
    top: 1rem;
}

.proj {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.proj-text {
   
    width: 100%;
    padding:2rem ;
    
}


.proj h2 {
    text-transform: uppercase;
    color: #519ad1;
    font-size: 25px;
    margin-bottom: 1rem;
    position: relative;
    left: 10rem;
}

.proj h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 1.5rem;
    position: relative;
    left: 8rem;
}

.proj p {
    font-size: 16px;
    line-height: 22px;
    color: #939394;
    position: relative;
    left: 2rem;
    margin-bottom: 2rem;
}

.proj-picture {
    /* display: flex; */
   position: relative;
   left: 1rem;
   width: 100%;
}

.projborder-picture {
    
        height: 450px;
        width: 450px;
        border: 6px solid #519ad1;
        position: relative;
        left: 3rem;
        
    
}

.proj-picture img {
    height: 450px;
    position: absolute;
    width: 450px;
    bottom: 30px;
    left: 1.5rem;
}
.proj button{
    height: 45px;
    width: 180px;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    color:  rgb(167, 165, 165);
    left: 3rem;
    
}
/* services */
.service{
    position: relative;
    top: 10rem;
    display: flex;
    flex-direction: column;
    left: 2rem;
    width: 80%;
    font-family: "Roboto condensed serif", "san-serif";
}
.service h1 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    left: 3rem;
}
.service h2{
    width: 80%;
    color: #fff;
    position: relative;
    top: 0.5rem;
    left: 3rem;
}
.service-pagelist{
    padding: 5px 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
    
}
.service-list{
    height: 400px;
    width: 450px;
    border: 3px solid; 
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom right, 
      #4ca8d4, #528bcd, #4c6ac1, #4b51c5, #463eba, #4431af);
      box-shadow: 2px 2px 5px rgba(151, 148, 148, 0.5);
      border-radius: 10px;
}

.service-title{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    left: -1rem;
    top: 1rem;
}
.icon-service{
    height: 35px;
    width: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50px;
    background: white;
    position: relative;
    left: 3rem;
}
.service-title i{
    font-size: 20px;
    color: #519ad1;  
}

.service-list p{
    position: relative;
    top: 2rem;
    font-size: 20px;
    padding: 2px;
    width: 90%;
    left: 1.5rem;
    line-height: 30px;
    color: #939394;
}

}
@media(min-width:701px) and (max-width:1000px){
    header{
        height: 100px;
        margin: 10px 50px;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        font-family: "Roboto condensed serif", 'sanserif';
        font-size: 20px;
        color: #519ad1;
        position: relative;
        right: 0.5rem;
    }
    
    .logo h1{
        position: relative;
    }
    .logo span{
        font-size: 20px;
    }
    nav{
        display: flex;
        gap: 3rem;
        position: relative;
        right: 1rem;
    }
    
    ul{
        display: flex;
        gap: 35px;
        text-transform: uppercase;
        font-size: 12px; 
        margin-top: 13px;
        font-family: "montserrat", "san-serif";
        color: rgb(167, 165, 165);
        list-style: none;
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: rgb(167, 165, 165);
    }
    
    li{
        list-style: none;
    }
    li:hover{
        color: #519ad1;
    }
    
    .contact{
        height: 30px;
        width: 100px;
        position: relative;
        bottom: 0.4rem;
        left: 1rem;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 5px;
        background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
        border: none;
    }
    /* about me */
.about{
    margin: 200px 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.picture{
    display: flex;
    position: relative;
    right: 2rem;
}
.border-picture{
    height: 450px;
    width: 370px;
    border: 6px solid #519ad1;
    position: relative;
    left: 3rem;
    
}
.about img{
    height: 450px;
    width: 360px;
    position: relative;
    bottom: 20px;
    right: 21rem;
}
.about-text{
    font-family: "Roboto condensed serif", "san-serif";
    position: relative;
    top: 2rem;
    right: 19.5rem;

}
.about-text h2{
    position: relative;
    bottom: 1rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
}
.about-text p{
    width: 180%;
    font-size: 16px;
    line-height: 21px;
    color: #939394;

}

.about button{
    height: 45px;
    width: 180px;
    position: relative;
    top: 2rem;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    
}
/* Project section */

.projects {
    position: relative;
    top: 2rem;
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
    padding: 0 2%;
}

.projects h1 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

.each-projects {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    width: 100%;
    position: relative;
    top: 3rem;
}

.proj {
    display: flex;
    gap: 1rem;

}

.proj-text {
    
    width: 50%;
    padding:2rem ;
   
}


.proj h2 {
    text-transform: uppercase;
    color: #519ad1;
    font-size: 25px;
    margin-bottom: 1rem;
}

.proj h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 1.5rem;
}

.proj p {
    font-size: 16px;
    line-height: 22px;
    color: #939394;
    margin-bottom: 2rem;
    width: 100%;
}

.proj-picture {
    /* display: flex; */
   position: relative;
   left: 4rem;
   width: 50%;
}

.projborder-picture {
    
        height: 450px;
        width: 350px;
        border: 6px solid #519ad1;
        position: relative;
        left: -3rem;
        
    
}

.proj-picture img {
    height: 450px;
    position: absolute;
    width: 350px;
    bottom: 30px;
    left: -4rem;
}
.proj button{
    height: 45px;
    width: 180px;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    color:  rgb(167, 165, 165);
    
}

/* services */
.service{
    position: relative;
    top: 10rem;
    display: flex;
    flex-direction: column;
    left: -2rem;
    width: 80%;
    font-family: "Roboto condensed serif", "san-serif";
}
.service h1 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    left: 5rem;
}
.service h2{
    width: 70%;
    color: #fff;
    position: relative;
    top: 0.5rem;
}
.service-pagelist{
    padding: 5px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    
}
.service-list{
    height: 400px;
    width: 350px;
    border: 3px solid; 
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom right, 
      #4ca8d4, #528bcd, #4c6ac1, #4b51c5, #463eba, #4431af);
      box-shadow: 2px 2px 5px rgba(151, 148, 148, 0.5);
      border-radius: 10px;
}

.service-title{
    display: flex;
    gap: 1rem;
    position: relative;
    left: 3rem;
    top: 1rem;
}
.icon-service{
    height: 35px;
    width: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50px;
    background: white;
}
.service-title i{
    font-size: 20px;
    color: #519ad1;  
}

.service-list p{
    position: relative;
    top: 2rem;
    font-size: 18px;
    padding: 2px;
    width: 90%;
    left: 1.5rem;
    line-height: 30px;
    color: #939394;
}


    
}