*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #101630;
    width: 100%;
}
header{
    height: 100px;
    margin: 20px 60px;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-family: "Roboto condensed serif", 'sanserif';
    font-size: 20px;
    color: #519ad1;
}

.logo h1{
    position: relative;
}
.logo span{
    font-size: 20px;
}
nav{
    display: flex;
    gap: 10rem;
    
}

ul{
    display: flex;
    gap: 50px;
    text-transform: uppercase;
    font-size: 16px; 
    margin-top: 13px;
    font-family: "montserrat", "san-serif";
    color: rgb(167, 165, 165);
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(167, 165, 165);
}

li{
    list-style: none;
}
a:hover{
    color: #519ad1;
}
#menu-icon{
    visibility: hidden;
    color: rgb(167, 165, 165);
    font-size: 35px;
    position: relative;
    top: 5px;
    left: 20rem;
}

 #close-icon{
    visibility: hidden;
    color: rgb(167, 165, 165);
    font-size: 35px;

 }
.contact{
    height: 40px;
    width: 130px;
    position: relative;
    bottom: 0.8rem;
    left: 1rem;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
}
/* section Title */
.title {
    margin: 30px 60px;
    font-family: "Montserrat", "san-serif";  
}
.title h4{
    color: #939394;
    font-size: 20px;
}
.title h1{
    text-transform: uppercase;
    margin: 15px 25px;
    font-size: 40px;
    line-height: 30px;
    color: #fff;
}
.dot{
    height: 6px;
    width: 6px;
    position: relative;
    left: 17.8rem;
    bottom:1.3rem;
    background:#519ad1 ;
}
.title button{
    height: 45px;
    width: 180px;
    position: relative;
    top: 0.1rem;
    left: 1rem;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    color:  rgb(167, 165, 165);
    
}
/* about me */
.about{
    margin: 200px 80px;
    display: flex;
    flex-direction: row;
    width: 80%;
}
.picture{
    display: flex;
}
.border-picture{
    height: 450px;
    width: 370px;
    border: 6px solid #519ad1;
    position: relative;
    left: 3rem;
    
}
.about img{
    height: 450px;
    width: 360px;
    position: relative;
    bottom: 20px;
    right: 21rem;
}
.about-text{
    font-family: "Roboto condensed serif", "san-serif";
    position: relative;
    top: 3rem;
    right: 13rem;

}
.about-text h2{
    position: relative;
    bottom: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
}
.about-text p{
    width: 150%;
    font-size: 19px;
    line-height: 26px;
    color: #939394;

}

.about button{
    height: 45px;
    width: 180px;
    position: relative;
    top: 2rem;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    color:  rgb(167, 165, 165);
    
}



/* media query */
@media (min-width:340px) and (max-width: 500px){
    header{
        height: 100px;
        margin: 20px 60px;
        display: flex;

    }
    .logo{
        font-family: "Roboto condensed serif", 'sanserif';
        font-size: 20px;
        color: #519ad1;
    }
    ul{
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 60px;
        left: 2rem;
        right: 0;
        background-color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 15px;
        width: 300px;
        height: 300px;
        z-index: 1;
    }
    
   
    #menu-icon{
        visibility: visible;
        color:  rgb(167, 165, 165);
        position: relative;
        top: 5px;
        left: 6rem;
    }
       
    #close-icon{
        visibility: hidden;
        
    }
    .contact{
        left: 70px;
        font-size: 12px;
        width: 130px;
        height: 35px;
    }
    /* section Title */
.title {
    margin: 30px 40px;  
}
.title h4{
    color: #939394;
    font-size: 20px;
}
.title h1{
    text-transform: uppercase;
    margin: 8px 25px;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
}
.dot{
    height: 6px;
    width: 6px;
    position: relative;
    left: 13.6rem;
    bottom:1.2rem;
    background:#519ad1 ;
}
.title button{
    height: 40px;
    width: 180px;
    position: relative;
    top: 0.1rem;
    left: 1rem;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
}
/* about me */
.about{
    margin: 200px 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.picture{
    display: flex;
    flex-direction: column;
}
.border-picture{
    height: 400px;
    width: 300px;
    border: 6px solid #519ad1;
    position: relative;
    left: -2.5rem;
    bottom: 2rem;
    
}
.about img{
    height: 400px;
    width: 300px;
    position: relative;
    bottom: 28rem;
    right: 4rem;
}
.about-text{
    font-family: "Roboto condensed serif", "san-serif";
    position: absolute;
    left: 2rem;
    top: 65rem;
    width: 100%;
}
.about-text h2{
    position: relative;
    bottom: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    left: 4rem;
}
.about-text p{
    width: 80%;
    font-size: 16px;
    line-height: 22px;
    color: #939394;
    position: relative;
    left: 1rem;

}

.about button{
    height: 45px;
    width: 180px;
    position: relative;
    top: 2rem;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    left: 3rem;
    
}

}
@media (min-width:501px) and (max-width: 700px){
    header{
        height: 100px;
        margin: 20px 60px;
        display: flex;

    }
    .logo{
        font-family: "Roboto condensed serif", 'sanserif';
        font-size: 35px;
        color: #519ad1;
    }
    ul{
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 60px;
        left: 2rem;
        right: 0;
        background-color: white;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        z-index: 1;
        height: 350px;

    }
   
    #menu-icon{
        visibility: visible;
        color:  rgb(167, 165, 165);
        position: relative;
        top: 20px;
        left: 15rem;
        font-size: 50px;
    }
       
    #close-icon{
        visibility: hidden;
        position: relative;
        font-size: 50px;
    }
    .contact{
        left: 150px;
        font-size: 20px;
        width: 180px;
        height: 50px;
    }
    .title button{
        height: 45px;
        width: 180px;
        position: relative;
        top: 0.1rem;
        left: -1rem;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 5px;
        background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
        border: none;
        cursor: pointer; 
    }
    /* about me */
.about{
    margin: 200px 180px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.picture{
    display: flex;
    flex-direction: column;
}
.border-picture{
    height: 400px;
    width: 300px;
    border: 6px solid #519ad1;
    position: relative;
    left: -2.5rem;
    bottom: 2rem;
    
}
.about img{
    height: 400px;
    width: 300px;
    position: relative;
    bottom: 28rem;
    right: 4rem;
}
.about-text{
    font-family: "Roboto condensed serif", "san-serif";
    position: absolute;
    left: 5rem;
    top: 65rem;
    width: 100%;
}
.about-text h2{
    position: relative;
    bottom: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    left: 7rem;
}
.about-text p{
    width: 80%;
    font-size: 16px;
    line-height: 22px;
    color: #939394;
    position: relative;
    left: 0.2rem;

}

.about button{
    height: 45px;
    width: 180px;
    position: relative;
    top: 2rem;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    left: 7rem;
    
}

}
@media(min-width:701px) and (max-width:1000px){
    header{
        height: 100px;
        margin: 10px 50px;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        font-family: "Roboto condensed serif", 'sanserif';
        font-size: 20px;
        color: #519ad1;
        position: relative;
        right: 0.5rem;
    }
    
    .logo h1{
        position: relative;
    }
    .logo span{
        font-size: 20px;
    }
    nav{
        display: flex;
        gap: 3rem;
        position: relative;
        right: 1rem;
    }
    
    ul{
        display: flex;
        gap: 35px;
        text-transform: uppercase;
        font-size: 12px; 
        margin-top: 13px;
        font-family: "montserrat", "san-serif";
        color: rgb(167, 165, 165);
        list-style: none;
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: rgb(167, 165, 165);
    }
    
    li{
        list-style: none;
    }
    li:hover{
        color: #519ad1;
    }
    
    .contact{
        height: 30px;
        width: 100px;
        position: relative;
        bottom: 0.4rem;
        left: 1rem;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 5px;
        background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
        border: none;
    }
    /* about me */
.about{
    margin: 200px 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.picture{
    display: flex;
    position: relative;
    right: 2rem;
}
.border-picture{
    height: 450px;
    width: 370px;
    border: 6px solid #519ad1;
    position: relative;
    left: 3rem;
    
}
.about img{
    height: 450px;
    width: 360px;
    position: relative;
    bottom: 20px;
    right: 21rem;
}
.about-text{
    font-family: "Roboto condensed serif", "san-serif";
    position: relative;
    top: 2rem;
    right: 19.5rem;

}
.about-text h2{
    position: relative;
    bottom: 1rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
}
.about-text p{
    width: 180%;
    font-size: 16px;
    line-height: 21px;
    color: #939394;

}

.about button{
    height: 45px;
    width: 180px;
    position: relative;
    top: 2rem;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, #4ca8d4, #528bcd,#4c6ac1, #4b51c5, #463eba, #4431af);
    border: none;
    cursor: pointer; 
    
}


    
}